@import "tailwindcss";

body {
  background: linear-gradient(135deg, #000000 0%, #0b1a11 40%, #2E7D32 100%);
  min-height: 100vh;
  color: #e8ffe8;
}

.gradient-background{
  background: linear-gradient(135deg, #000000 0%, #0b1a11 40%, #2E7D32 100%);
}

.aboreto-font {
  font-family: 'Aboreto', cursive;
}
